.row {
    display: flex;
    border-bottom: 1px solid #ccc;
    color: #333;
    align-items: center;
    padding: .5rem;
    gap: 2rem;
    font-size: 13pt;
    padding: 0 1rem;
}

.row:hover {
    background-color: #fafafa;
}

.row:hover .trash-icon {
    visibility: visible;
}

.author {
    color: #999;
}

.trash-icon {
    visibility: hidden;
}

.trash-icon:hover {
    cursor: pointer;
}

.article-link {
    text-decoration: none;
    display: flex;
    gap: 1rem;
    flex: 1;
    color: #333;
}
